{% extends "email.web.twig" %}

{% block content %}

    <table border="0" bgcolor="#F8F8F8" width="95%" cellpadding="10" style="margin: 5px 0;font-family: Arial;font-size: 14px;color:#000000;">
        <tr>
            <td align="left">
                <div>
                    <p>Se ha registrado una nueva tienda con el nombre de <span>{{ event.title }}</span>.</p>
                    <p>Url de la tienda: <a href="{{ base_url }}{{ build_url('event', {'url':event.url}) }}">{{ base_url }}{{ build_url('event', {'url':event.url}) }} </a> </p>
                </div>

                <h4>Informaci&oacute;n de la tienda.</h4>
                <ul>
                        <li> <b>ID:</b> {{ event.id }}</li>
                        <li> <b>Evento:</b> {{ event.title }}</li>
                        <li> <b>Descripci&oacute;n:</b> {{ event.description }}</li>
                        <li> <b>Direcci&oacute;n:</b> {{ event.address }}</li>
                        <li> <b>Carpeta:</b> {{ event.folder }}</li>
                        <li> <b>Url:</b> {{ event.url }}</li>
                        <li> <b>Avatar:</b> {{ event.avatar }}</li>
                        <li> <b>Path:</b> {{ avatar }}</li>
                        <li> <b>Pa&iacute;s:</b> {{ event.country }}</li>
                        <li> <b>Zone:</b> {{ event.zone }}</li>
                        <li> <b>Email:</b> {{ event.email }}</li>
                        <li> <b>Coupon:</b> {{ event.coupon }}</li>
                        <li> <b>Token Email:</b> {{ event.token_email }}</li>
                </ul>

                <h4>Informaci&oacute;n adicional.</h4>

                <ul>
                    {% for key, item in server %}
                        <li> <b>{{ key }}</b>: {{ dump(item) }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}